form i {
    font-size: 1.3rem;
}

form .mb-3 {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}

/* Fareyle üzerine gelindiðinde (hover) yeþil stil */
.mb-3:hover {
    border: 1px solid #4CAF50;
    border-left: 7px solid #4CAF50; 
}
    form .mb-3:hover {
        border: 1px solid #4caf50;
        border-radius: 10px;
        border-left: 7px solid #4caf50;
    }

.form-control {
    font-size: 1.1rem;
    border: none;
    outline: none;
    box-shadow: none;
    letter-spacing: 0.1rem;
}

    .form-control:focus {
        outline: none;
        box-shadow: none;
    }

/* Giriþ Yap Butonu */
.btn-primary {
    background-color: #017bb6; 
    border-color: #017bb6; 
    color: white; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

    /* Giriþ Yap Butonuna Üzerine Gelindiðinde */
    .btn-primary:hover {
        background-color: #4caf50; 
        border-color: #4caf50; 
        color: white; 
    }

/* Kayýt Ol Butonu için stil */
.register-btn {
    background-color: #4caf50; /* Yeþil */
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
}

    .register-btn:hover {
        background-color: white;
        border-color: #4caf50;
        color: #4caf50;
    }

/* Þifremi Unuttum Linki için stil */
.forgot-password-link {
    color: black;
    text-decoration: underline; /* Altý çizili */
    font-weight: normal;
    margin-top: 8px;
}

/* Checkbox iþaretlendiðinde tik iþareti yeþil olur */
.form-check-input:checked {
    background-color: #4caf50; 
    border-color: #4caf50; 
}


   
