h2 {
    margin-bottom: 30px;
    color: #2c3e50;
    font-size: 2rem;
    font-weight: 600;
}

.icon-circle- {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: transparent;
}

    .icon-circle- i {
        font-size: 22px; /* İkonun boyutunu çerçeveye uygun hale getirdim */
        line-height: 1; /* İkonun yüksekliğini kontrol altına almak için */
        display: flex;
        justify-content: center;
        align-items: center;
    }

.icon-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgba(0,0,0,0.2);
    border-radius: 50%;
    margin: auto;
    width: 40px;
    height: 40px;
    background-color: transparent;
    flex-direction: column; /* İkon ve adı dikey olarak hizalamak için */
}

    .icon-circle i {
        font-size: 22px; /* İkonun boyutunu çerçeveye uygun hale getirdim */
        line-height: 1; /* İkonun yüksekliğini kontrol altına almak için */
        display: flex;
        justify-content: center;
        align-items: center;
    }

.icon-circle-name {
    display: flex;
    justify-content: center; /* İkon adını ortalamak için */
    align-items: center; /* İkon adını ortalamak için */
    margin-top: 5px; /* İkon ile ikon adı arasında biraz boşluk */
    font-size: 14px; /* İkon adının boyutunu ayarlamak için */
    text-align: center; /* Metni ortalamak için */
    width: 100%; /* Genişliği %100 yaparak ortalamayı tam yapmak için */
}

/* Çıkış Butonu */
.btn-outline-danger {
    padding: 8px 20px; /* Yatayda daha geniş yapmak için ikinci değeri artırın */
    font-size: 1rem;
    font-weight: 700;
    color: #ad1f2d; /* Normal renk */
    border-color: #ad1f2d; /* Kenar rengi */
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    margin-right: 10px;
}

    .btn-outline-danger:hover {
        background-color: #dc3545; /* Arka plan rengi */
        color: #fff; /* Yazı rengi */
    }
   
