/* Yeni Ekle Butonu Konteyneri */
.button-container {
    text-align: right;
    margin-bottom: 10px;
}


/* Yeni Ekle Butonu */
.btn-primary {
    padding: 10px 40px;
    font-size: 1rem;
    /*background-color: #03346E; */ /* lacivert  */
    /*background-color: #344e41;*/ /* koyu yeþil  */
    background-color: #0077B6;
    border-color: #0077B6;
    border-radius: 5px;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
    display: inline-block;
    color: #fff; /* Yazý rengi beyaz */
}

    .btn-primary:hover {
        background-color: #005f8a; /* Daha koyu bir mavi */
    }


.btn-success:hover {
    background-color: #3691cc; /* Ana renkten biraz daha koyu */
    border-color: #3691cc;
    color: #fff; /* Yazý rengi beyaz */
}

/* Tablo */
.table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

    /* Tablo Baþlýðý */
    .table thead th {
        padding: 15px;
        text-align: left;
        font-size: 1rem;
        /*background-color: #312F2F;*/ /* Arka plan rengi burada belirleniyor */
        /*background-color: #808080;*/
        /*background-color: #003049;*/
        background-color: #495057; /* gri */
        /* background-color: #588157; */ /* yeþil  */
        color: #ecf0f1; /* Yazý rengi */
        margin-top: 10px
    }

    /* Tablo Gövdesi */
    .table tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .table tbody tr:nth-child(odd) {
        background-color: #ffffff;
    }

    .table tbody td {
        padding: 15px;
        font-size: 0.95rem;
    }

.action-buttons {
    display: flex;
    justify-content: center; /* Butonlarý yatay olarak ortalar */
    align-items: center; /* Butonlarý dikey olarak ortalar */
}

    .action-buttons a {
        margin: 0 5px; /* Her bir buton arasýnda 5px boþluk býrakýr */
    }

.melisa {
    display: flex;
    justify-content: center; /* Butonlarý yatay olarak ortalar */
    align-items: center; /* Butonlarý dikey olarak ortalar */
}

    .melisa a {
        margin: 0 5px; /* Her bir buton arasýnda 5px boþluk býrakýr */
    }

/* Ýþlem Butonlarý */
.btn-success {
    background-color: #33D197;
    border-color: #33D197;
    color: #fff;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
}

    .btn-success:hover {
        background-color: #2fb586; /* Ana renkten biraz daha koyu */
        border-color: #2fb586;
        color: #fff; /* Yazý rengi beyaz */
        margin-right: 50px;
    }

.btn-danger {
    background-color: #EF626C;
    border-color: #EF626C;
    color: #fff;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 0.3s ease-in-out;
}

    .btn-danger:hover {
        background-color: #d3545b; /* Ana renkten biraz daha koyu */
        border-color: #d3545b;
        color: #fff; /* Yazý rengi beyaz */
    }
